.comfort
{
    font-family: Libre Baskerville;
font-size: 48px;
font-style: italic;
font-weight: 400;
line-height: 57.6px;
letter-spacing: -0.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.imgMrg
{
    margin:20%;
}
@media screen and (min-width:100px) and (max-width: 500px){
    .imgMrg
    {
        margin:0%;
        width: 100%;
        margin-top: 6%;
    }
}
.best
{
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2F75E6;
}
.lorem
{
    color: #2F75E6;
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 31.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.about
{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 31.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2F75E6;
}