.bgc
{
    background-color: #007bff;
    color: white;
}
.mrgn
{
    padding: 6%;
    display: flex;
    justify-content: space-around;
}
.btn
{
    background-color:'white';
    color:' #007bff';
    border: 1px solid #007bff
}
.line
{
    width: 80%;
    background-color: aliceblue;
    height: 2px;
    margin-left: 10%;
}
.input
{
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #007bff;
    height: 35px;
}
.btn
{
    border: 1px solid grey;
    background-color: white;
    color: #007bff;
    height: 35px;
}