.blueBcg
{
    background-color: #437CFF;
}
.txtFlex
{
    display:'flex';
    justify-content:'space-around';
}
.txtCenter {
    text-align: center; /* Centers text within the container */
    margin: 0 auto; /* Ensures the container is centered */
    display: flex; /* Allows the alignment of items */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
  }

  /* Add an underline effect for active/hovered Nav.Links */
.nav-link {
    position: relative;
    font-weight: 600;
    transition: all 0.3s ease;
    color: #7E7E7E;
  }
  
  .nav-link:hover, .nav-link.active {
    color: #007bff !important;
  }
  
  .nav-link.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    margin-bottom: -28px;
    background-color: #007bff; /* Blue underline color */
    
  }
  .reserveButton
  {
    background-color: #F5FAFF;
    color: #007bff;
    border: 1px solid #007bff !important;
  }
  .reserveButton:hover
  {
    background-color: #F5FAFF;
    color: #007bff;
    border: 2px solid #007bff;
  }
  
  .ordBtn
  {
    background-color: #007bff !important;
    color: #F5FAFF !important;
  }

.mainBlue
{
    display: block;
    background-color: #007bff;
    color: #F5FAFF;
    text-align: center; /* Centers text within the container */
    margin: 0 auto; /* Ensures the container is centered */
    display: flex; /* Allows the alignment of items */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    
}
@media  screen and (min-width:0px) and (max-width:500px) {
    .mainBlue
    {
        display: none;
    }
    .button-container
{
    text-align: center; /* Centers text within the container */
    margin: 0 auto; /* Ensures the container is centered */
    display: flex; /* Allows the alignment of items */
    justify-content: center; /* Centers items horizontally */
    align-items: center;
}
}

@media  screen and (min-width:0px) and (max-width:990px) {
   
    .button-container
{
    text-align: center; /* Centers text within the container */
    margin: 0 auto; /* Ensures the container is centered */
    display: flex; /* Allows the alignment of items */
    justify-content: center; /* Centers items horizontally */
    align-items: center;
}
}
.text1
{
    padding-right: 3%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.text2
{
    display: flex; /* Allows the alignment of items */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}
.navbar-line {
    height: 3px;
    background-color:aliceblue; /* Blue line color */
    width: 100%;
  }
  .navbar-toggler {
    border-color: #007bff; /* Optional: Removes border around the toggle button */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23007bff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  