/* Background blue section */
.blueBcg {
  background-color: #2F75E6;
  height: 40px;
}

.button-container
{
  display: flex;
  justify-content: space-between ;
}
/* Flexbox for text */
.txtFlex {
  display: flex;
  justify-content: space-around;
}

/* Centered text with flexbox */
.txtCenter {
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #646464;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  position: relative;
  z-index: 2 !important;
}

/* Nav link styles */
.nav-link {
  position: relative;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #646464;
  font-size: 16px;
  line-height: 19.2px;
}

.nav-link:hover, .nav-link.active {
  color: #007bff !important;
}

.nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.4px;
  margin-bottom: -30px;
  background-color: #007bff; /* Blue underline */
}

/* Reserve button */
.reserveButton {
  background-color: #F5F9FF;
  color: #2F75E6;
  border-radius: 6px;
  height: 52px;
  width: 156.25px;
  border: 1px solid #2F75E6 !important;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
      z-index: 2 !important;
}

.reserveButton:hover {
  background-color: #F5F9FF;
  color: #2F75E6;
  border: 2px solid #2F75E6;
}

/* Order button */
.ordBtn {
  background-color: #2F75E6 !important;
  color: #F9EFE6 !important;
  width: 175px;
  height: 52px;
  border-radius: 4px;
}

/* Main blue bar */
.mainBlue {
  background-color: #007bff;
  color: #F5F9FF;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide mainBlue on small screens */
@media screen and (max-width: 500px) {
  .mainBlue {
      display: none;
  }
}
.marginSet
{
  margin-left:  12px;
}
/* Button container for responsiveness */
@media screen and (max-width: 500px) {
  .button-container {
      text-align: center;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2 !important;
  }
  .reserveButton
  {
    margin-left: 15px;
    width: 172px;
    position: relative;
      z-index: 2 !important;
  }
  .marginSet
  {
    margin-top: 2%;
  }
}

/* Text alignment */
.text1 {
  padding-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar underline */
.navbar-line {
  height: 2px;
  background-color: #2F75E633;
  width: 100%;
}

/* Navbar toggler */
.navbar-toggler {
  border-color: #007bff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23007bff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
